body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.progress-text {
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.dropdown-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.dropdown-group select,
.dropdown-group button {
    flex: 1;
    margin: 0 5px;
}

.tag-list-badge-wrapper {
    max-height: 150px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.tag-list-badge {
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin: 2px;
    cursor: pointer;
}

.category-tag-badge  { background-color: #e53819; }
.language-tag-badge  { background-color: #e55d19; }
.parody-tag-badge    { background-color: #e5b219; }
.character-tag-badge { background-color: #60e519; }
.group-tag-badge     { background-color: #19e54c; }
.artist-tag-badge    { background-color: #19e5b2; }
.cosplayer-tag-badge { background-color: #19b2e5; }
.male-tag-badge      { background-color: #194ce5; }
.female-tag-badge    { background-color: #4c19e5; }
.mixed-tag-badge     { background-color: #b219e5; }
.other-tag-badge     { background-color: #e519b2; }

.tag-badge {
    display: inline-block;
    background-color: #e7f3fe;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin: 2px;
    cursor: pointer;
}

.group-badge {
    display: inline-block;
    background-color: #eafbea;
    color: #28a745;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin: 2px;
    cursor: pointer;
}

.source-badge {
    display: inline-block;
    background-color: #fbecea;
    color: #ff7b72;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    margin: 2px;
    cursor: pointer;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
}

th {
    text-align: center;
    word-wrap: break-word;
    /* 允许内容换行 */
    white-space: normal;
    /* 禁止单行显示，允许换行 */
    max-width: 200px;
    /* 限制最大宽度，避免超出 */
    overflow-wrap: break-word;
    /* 强制长单词换行 */
    word-break: break-word;
    /* 允许单词在超出时换行 */
}

/* 确保td中的文本也能换行 */
td {
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
}

.tag-badge-wrapper,
.source-badge-wrapper,
.group-badge-wrapper {
    max-height: 100px;
    /* 设置最大高度 */
    overflow-y: auto;
    /* 超过最大高度时垂直滚动 */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.section {
    margin-bottom: 20px;
}

.section .title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}

.input-row label {
    margin-right: 15px;
    width: 120px;
    font-weight: normal;
    text-align: right;
}

.input-row input,
.input-row select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 180px;
}

.input-row button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 120px;
    margin-left: 10px;
}

.input-row button:hover {
    background-color: #0056b3;
}

.input-row .bool-checkbox {
    width: 20px;
    height: 20px;
}

.input-row .edit-box {
    width: 100%;
    height: 60px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.comic-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.comic-item {
    position: relative;
    height: 350px;
    width: 220px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.comic-cover {
    height: 280px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comic-item img {
    width: 100%;
    max-width: 210px;
    height: auto;
    max-height: 280px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comic-item .comic-title {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #1c1d1e;
    cursor: pointer;
    overflow-wrap: break-word;
}

.comic-item .info-popup {
    display: none;
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: left;
    z-index: 10;
    overflow-y: auto;
}

.badge-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.comic-title:hover .info-popup {
    display: block;
}

.info-popup .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.info-hr {
    border: none;
    border-top: 3px solid #ccc;
    margin: 5px 0; /* 调整上下间距 */
}

.tag-hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2px 0; /* 调整上下间距 */
}

.info-popup .info-row:last-child {
    margin-bottom: 0;
}

.info-popup .info-label {
    display: flex;
    align-items: center;  /* 垂直居中 */
    font-weight: bold;
    color: #333;
    min-width: 50px;
}

.info-popup .info-text {
    display: flex;
    align-items: center;  /* 垂直居中 */
    font-style: italic;
    color: #3d3b3b;
    min-width: 50px;
}

.info-popup .info-value {
    color: #007bff;
    cursor: pointer;
}

.info-popup .info-value:hover {
    text-decoration: underline;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.mb-3 {
    margin-bottom: 1rem;
}

.form-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.w-25 {
    width: 25%;
}

.ms-2 {
    margin-left: 0.5rem;
}

.w-50 {
    width: 50%;
}

.form-control {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.bi-search {
    font-size: 16px;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagetop-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.reader-container {
    /* max-width: 1000px; */
    margin: 20px auto;
    /* padding: 0 15px; */
}

.reader-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
    overflow-wrap: break-word;
}

.comic-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.footer-controls {
    margin-top: 20px;
    padding: 15px 0;
    display: flex;
    justify-content: center; /* 居中布局 */
}

.page-selector {
    flex-grow: 0; /* 禁止拉伸 */
    margin: 0 15px; /* 增加左右间距 */
}

.page-selector select {
    min-width: 150px;
    height: 38px;
}

.image-wrapper {
    position: relative;
}

.nav-left, .nav-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    cursor: pointer;
}

.nav-left {
    left: 0;
}

.nav-right {
    right: 0;
}

#suggestions {
    max-height: 200px;
    overflow-y: auto;
    white-space: normal; /* 允许内容换行 */
    z-index: 1000;
}

.list-group-item {
    word-wrap: break-word; /* 允许长单词换行 */
    word-break: break-word; /* 允许长单词换行 */
}

#loading-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 半透明背景 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 18px;
    z-index: 9999;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid white;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


@media (max-width: 767px) {
    .form-select, .form-control {
        font-size: 14px;
        padding: 6px 12px;
    }
    .btn {
        padding: 6px 12px;
    }
    .reader-header {
        font-size: 20px;
        padding: 8px;
    }
    .footer-controls .d-flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    .page-selector select {
        min-width: 120px;
        max-width: 200px;
    }
}
