{% extends "base.html" %}

{% block title %}
标签
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block main %}
<div id="comic-list" class="comic-container">
</div>
{% endblock %}

{% block scripts %}
<script>
    //初始化
    $(document).ready(function () {
        loadTags();
    });
</script>
<script>
    async function loadTagsByType(type) {
        let tag_html = "";
        const tags = await getTags(type);
        for (let tag of tags) {
            let tag_key = tag.name;
            let name = tag.name;
            if ("translated" in tag) {
                name = tag.translated;
            }
            const tag_names = name.split(":");
            if (tag_names.length > 1) {
                name = tag_names[1];
            }
            tag_html += `<a href="/web/page?query=${tag_key}">
                <span class="tag-list-badge ${type}-tag-badge" data-count="${tag.itemCount}">${name} (${tag.itemCount})</span>
                </a>`;
        }
        return `<div class="section">
      <details>
      <summary class="title">${type.charAt(0).toUpperCase() + type.slice(1)}</summary>
      <div class="tag-list-badge-wrapper">
        ${tag_html}
      </div>
      </details>
    </div>`;
    }
    async function loadTags() {
        const loading_element = document.getElementById("loading-tags");
        if (loading_element == null) {
            const loading = document.createElement("div");
            loading.innerHTML = `<div id="loading-tags" class="loading-mask">
                <div class="spinner"></div>
                    <p>加载Tags...</p>
                </div>`;
            document.body.appendChild(loading);
        } else {
            loading_element.style = "";
        }
        const category_html = await loadTagsByType("category");
        const language_html = await loadTagsByType("language");
        const parody_html = await loadTagsByType("parody");
        const character_html = await loadTagsByType("character");
        const group_html = await loadTagsByType("group");
        const artist_html = await loadTagsByType("artist");
        const cosplayer_html = await loadTagsByType("cosplayer");
        const male_html = await loadTagsByType("male");
        const female_html = await loadTagsByType("female");
        const mixed_html = await loadTagsByType("mixed");
        const other_html = await loadTagsByType("other");
        document.getElementById("comic-list").innerHTML = '<div class="container">' + category_html + language_html
            + parody_html + character_html + group_html + artist_html + cosplayer_html + male_html + female_html
            + mixed_html + other_html + '</div>';
        document.getElementById("loading-tags").style.display = "none";
        setTagsStyle("category-tag-badge");
        setTagsStyle("language-tag-badge");
        setTagsStyle("parody-tag-badge");
        setTagsStyle("character-tag-badge");
        setTagsStyle("group-tag-badge");
        setTagsStyle("artist-tag-badge");
        setTagsStyle("cosplayer-tag-badge");
        setTagsStyle("male-tag-badge");
        setTagsStyle("female-tag-badge");
        setTagsStyle("mixed-tag-badge");
        setTagsStyle("other-tag-badge");
    }
    function setTagsStyle(class_name) {
        const badges = document.querySelectorAll("." + class_name);
        let counts = new Set(Array.from(badges).map(b => parseInt(b.dataset.count)));
        counts = Array.from(counts);
        counts.sort((a, b) => a - b);
        badges.forEach(badge => {
            const count = parseInt(badge.dataset.count);
            const ratio = counts.indexOf(count) / Math.max((counts.length - 1), 1); // 防止除0    
            const fontSize = 0.9 + ratio * 0.6; // 字体从0.9em到1.5em
            badge.style.setProperty('--fontsize', `${fontSize}em`);
        });
    }
</script>
{% endblock %}